.card-title{
    color: #FFC929;
    font-family: 'Segoe UI', serif;
    font-weight: bold;
}

/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
}
