body{
    background-image: url("../images/home_bg.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron{
    background-image: url("../images/home_jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}

.card-title{
    color: #FFC929;
    font-family: 'Segoe UI', serif;
    font-weight: bold;
}
