body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15.1rem;
    background-color: #FFC929;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.nav-item{
    font-family: 'Segoe UI', serif;
    font-weight: bold;
    color: white;
}
.nav-item:hover{
    background-color: #45B97C;
    color: white;

}

.active{
    background-color: #45B97C;
    color: white;
}

#nav-button{
    display: none;
}

/*
If the screen is bigger then mobile
 */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
        background-color: #FFC929;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

